<header>
        <h1>Chat App</h1>
    </header>
    <section>
        <button id='openChat' class="openChat">Chat with us!</button>
        <div id="chat" class="closed">
            
            

        </div>  
    </section>
   
    <script src="/socket.io/socket.io.js"></script> 
    <script src="app.js"></script>