<header>
        <h1>Chat App</h1>
    </header>
    <section>
        <button id='openChat' class="openChat">Chat with us!</button>
        <div id="chat" class="closed">

            <div id="msgBox" class="messages">
                
            
        </div><div class="chat">
                <form action="" class="chatForm">
                    <input type="text" name="message" id="msg">
                    <button type="submit">Send</button>
                </form>
                
            </div>
            </div>
    </section>
   
    <script src="/socket.io/socket.io.js"></script> 
    <script src="app.js"></script>